[Unit] секция:
Description
After, Requires
Wants, Conflicts, PartOf, BindsTo

[Timer] секция:
OnCalendar: [DayOfWeek][Year]-[Month]-[Day] [Hour]:[Minute]:[Second]
OnBootSec: Задержка перед первым запуском после загрузки.
OnUnitActiveSec: Задержка перед следующим запуском, считая от времени активации юнита.
OnUnitInactiveSec: Задержка перед следующим запуском, считая от времени деактивации юнита.
AccuracySec: Степень точности таймера.
Persistent: Сохранять ли расписание для следующих запусков, если они были пропущены (например, из-за выключения компьютера).
Unit: Сервис, который будет запускаться таймером.
RandomizedDelaySec: Случайная задержка (в секундах) перед запуском, чтобы избежать одновременного запуска множества задач.

[Install] секция: 
WantedBy=timers.target
