[Unit] # Метаданные и зависимости
Description=Service
After=network-online.target # После чего
Wanted=network-online.target # Одновременно с чем

[Service]
ExecStart=<command>
User=<user>
Group=<group>
Type=Simple (сервис завершается, когда завершится процесс) # Тип запускаемого процесса
     exec # перезапустить, если завершится  
     timer
     oneshot # сервис запускается только один раз и затем завершается, systemd не следит за состоянием после завершения

[Install] # Правила установки и запуска
WantedBy=multi-user.target # После запуска, будет запущен наш сервис
